<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Voice Cloner Online by Sba Stuff</title>
    <meta
      name="viewport"
      content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width"
    />
  </head>
  <body>
    <br>
        <div>
        <h1>Model Flask Server</h1>
        <form method="post" enctype="multipart/form-data">
          <p>
            <input type="file" name="file">
            </p>
          <br>
            <p>
            <label for="textarea">Text To Utter</label>
            <br>
            <textarea name="textarea" id="textarea" rows="10" cols="100">Hello! I will be your narrator for today. Let's get started!</textarea>
          </p>
          <br>
          <p>
            <input type="submit" value="Upload">
            </p>
        </form>
        {{ output | safe}}
        </div>
    </body></html>
</html>
